<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="434" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://media.discordapp.net/attachments/993796975277375548/993859749001035866/63160064_2020-04-29_13-34-1588142078-4697.jpg"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="กันตินันท์ มัญจะกาเภท"
              subtitle="วิทยาการคอมพิวเตอร์"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>ระดับการศึกษา</th>
              <th>ชื่อสถาบันศึกษา</th>
              <th>เกรดเฉลี่ย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ประถมศึกษา</td>
              <td>โรงเรียนบ้านห้วยกะปิ</td>
              <td>3.1</td>
            </tr>
            <tr>
              <td>มัธยมศึกษา</td>
              <td>โรงเรียนชลราษฎรอำรุง</td>
              <td>3.4</td>
            </tr>
            <tr>
              <td>ปริญญาตรี</td>
              <td>มหาวิทยาลัยบูรพา</td>
              <td>3.67</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          class="mx-auto"
          width="500"
          title="สิ่งที่สนใจ"
          text="Software Developer, IT Support, Programmer"
        ></v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
